boto3==1.42.53
botocore==1.42.53
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.5
idna==3.11
Jinja2==3.1.6
jmespath==1.1.0
MarkupSafe==3.0.3
moto==5.1.21
pycparser==3.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.32.5
responses==0.26.0
s3transfer==0.16.0
six==1.17.0
urllib3==2.6.3
Werkzeug==3.1.6
xmltodict==1.0.3
