boto3==1.35.46
botocore==1.35.46
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==43.0.3
idna==3.10
Jinja2==3.1.4
jmespath==1.0.1
MarkupSafe==3.0.2
moto==5.0.12
pycparser==2.22
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
responses==0.25.3
s3transfer==0.10.3
six==1.16.0
urllib3==2.2.3
Werkzeug==3.0.4
xmltodict==0.14.2
